<div th:fragment="content" class="container-fluid"
     xmlns:th="http://www.thymeleaf.org">
  <h1 class="mt-4">Clientes</h1>

  <table class="table table-bordered table-striped mt-3">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Setor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.nome}"></td>
        <td th:text="${cliente.telefone}"></td>
        <td th:text="${cliente.setor}"></td>
        <td>
          <a th:href="@{'/clientes/novo'}" class="btn btn-primary btn-sm">Novo</a>
          <a th:href="@{'/clientes/editar/' + ${cliente.id}}"
             class="btn btn-warning btn-sm">Editar</a>
          <a th:href="@{'/clientes/deletar/' + ${cliente.id}}"
             class="btn btn-danger btn-sm">Excluir</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
